include ./header.jade

.container
  h1 Who What When Where Why
  p I'm Brian. A 29 year old 'boy' who enjoys adventure and critical thinking.
  p I'm what you would call a perpetual child because I refuse to stop building and breaking things.
  p I grew up in Miami Beach and spent my college years in New York City. I currently reside in Atlanta.
  p I don't know why I do what I do, but I'll do it as long as I like doing it.


include ./footer.jade
