blockquote.chat
  p.them Annie, I'm going to be a lil late for the rehearsal, tonight.
  p.me S'Okay, Maude.  You know your lines...?
  p.them I know em, I don't know what order they come in...
  p.me We'll work it out...
