doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='favicon.ico')
    title BETOVAR
    link(href='css/bootstrap.min.css', rel='stylesheet')

  body
    .container
      nav.navbar.navbar-light.bg-faded
        button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#navbar-header', aria-controls='navbar-header')
          | ☰
        #navbar-header.collapse.navbar-toggleable-xs
          a.navbar-brand(href='/') betovardotcom
          ul.nav.navbar-nav
            li.nav-item.active
              a.nav-link(href='/projects') Projects
            li.nav-item
              a.nav-link(href='/resume') Resume
            li.nav-item
              a.nav-link(href='/about') About
                span.sr-only (current)
          form.form-inline.pull-xs-right
            input.form-control(type='text', placeholder='Search')
