include ./header.jade

.container
  .jumbotron
    h1
    p I'm Brian, and this website is a portfolio of my work and interests. Within you will find a multitude of quirks and bobs that define me.
    p Here are some great places to get started:
    p
      a.btn.btn-lg.btn-primary(href='#', role='button') Current Professional »
      a.btn.btn-lg.btn-primary.pull-right(href='#', role='button') Latest Personal »

  a.btn(href='https://github.com/betovar') Github
  a.btn(href='https://steamcommunity.com/id/betovar/') Steam
  a.btn(href='https://www.instagram.com/betovar/') Instagram
  a.btn(href='http://www.youtube.com/channel/UCqAIkVRTNxjLDOoylW7Mcxg') YouTube
  a.btn(href='https://www.linkedin.com/in/brianetovar') LinkedIn
  a.btn(href='https://twitter.com/brianetovar') Twitter
  a.btn(href='https://www.facebook.com/brian.tovar') Facebook
  a.btn(href='mailto:brian.tovar@gmail.com') Email

include ./footer.jade
