include ./header.jade

.container
  .jumbotron
    h1 Mission Statement
    p I'm Brian, and this website is a portfolio of my work and interests. Have a look around and feel free to ask questions.
    p Here are some great places to get started:
    p
      a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') Professional work »
      a.btn.btn-lg.btn-primary.pull-right(href='../../components/#navbar', role='button') Latest personal craze »

  a.btn(href='https://github.com/betovar') Github
  a.btn(href='https://steamcommunity.com/id/betovar/') Steam
  a.btn(href='https://www.instagram.com/betovar/') Instagram
  a.btn(href='') YouTube
  a.btn LinkedIn
  a.btn Twitter
  a.btn Facebook
  a.btn Email

include ./footer.jade
