include ./header.jade

ul
  li Starwall
  li Icon Slot Machine
  li Genesis Halo Retrofit
  li Bedboard
  li SD Card Library
  li Master's Thesis
  li Speaker System
  li Christmas Cards
  li AbsLabs LED Lighting
  li Caten
  li Weblog
  li Photography
  li iMessage Chat
  li Lego X-Wing
  li Industrial Robotics
  li Computational Fluid Dynamics
  li Mechatronics
  li DMX-512
  li Obstructive Sleep Apnea
  li Personal Computer Build
  li FPGA
  li Spark Core
  li Mobile App Development
  li Black Magic Debug

include ./footer.jade
