include ./header.jade

.container
  h1 Brian E Tovar
  p I'm Brian, and this website is a portfolio of my work and interests. Have a look around and feel free to ask questions.
  p Here are some great places to get started:
  p


include ./footer.jade
